.DS_*
.vercel/
.vscode/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
parcel-bundle-reports/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional cache directories
.npm
.eslintcache
.stylelintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
