/* [notes]
    https://drafts.csswg.org/scroll-animations-1/
    https://www.smashingmagazine.com/2023/07/define-array-colors-css/
*/

/* TODO: Плавные переходы с помощью View Transition API */
/* https://drafts.csswg.org/css-view-transitions-1/
   https://github.com/WICG/view-transitions/blob/main/explainer.md
   https://developer.mozilla.org/en-US/docs/Web/API/View_Transitions_API
   https://developer.chrome.com/docs/web-platform/view-transitions
   https://developer.chrome.com/blog/view-transitions-update-io24
   https://www.smashingmagazine.com/2024/01/view-transitions-api-ui-animations-part2/ */
@supports (view-transition-name: none) {
  /* … */
}

@keyframes weight {
  from {
    font-variation-settings: "wght" 200, "ital" 0;
  }

  50% {
    font-variation-settings: "wght" 900, "ital" 1;
  }

  to {
    font-variation-settings: "wght" 200, "ital" 0;
  }
}

body:where([data-id=homepage]) { /* fast visual tweaks */
  --sketch-bg: var(--background);

  @supports (color: light-dark(white, black)) and
            (color: hsl(from white h s calc(l - 5))) {
    & {
      --sketch-bg: light-dark(var(--clear-medium), var(--riso-black))
    }
  }

  .ua-samp {
    display: grid;
    grid-template-rows: repeat(auto-fit, 10cqi);
    grid-auto-flow: column dense;
    place-items: center;
    place-self: center;
    max-inline-size: var(--container-sm);
    max-block-size: 25cqi;
    gap: 1rem;
    > * { aspect-ratio: var(--ratio-square) }

    div,
    input {
      inline-size: 10cqi;
      block-size: auto;
      border-radius: 0.5rem;
    }

    [type=color i] {
      padding: 0;
      border-color: buttonborder;
      border-style: inset;
      border-width: thin;
      clip-path: circle(25%);
    }
  }

  a[rel=bookmark] {
    translate: -100%;
    inline-size: fit-content;

    &:where(:is(:hover,:focus)) {
      --wght: 900;
    }
  }

  div:has(figure + a) { gap: var(--gutter) }

  /* mv → utils */
  .fvar { --fvar: font-variation-settings; } /* eg transition-property */

  /* .\👻-btn */
  [class~=cta]:is(a, button) {
    display: inline-flex;
    min-inline-size: var(--btn-min-hdim);
    min-block-size: var(--min-touch-target-size);
    padding: 1ch 2ex;
    color: var(--accent);
    text-align: center;
    border: var(--border);
    border-color: var(--accent-shade);

    &:where(:is(:hover,:focus)) > .fvar {
      --wght: 500;
    }

    > :where(.fvar) {
      --opsz: 48;
      --wght: 300;
      --ital: 1;
      transition: font-variation-settings 300ms var(--ease-spring); /* 2 */
    }

    > span {
      position: relative;
      margin: auto;

      > svg {
        position: absolute;
        inset: 1em 0.2em;
        z-index: -1;
        width: calc(100% - 0.7em);
        height: auto;
        color: var(--accent-shade, highlight);
      }
    }
  }

  :where(#hero) {
    background: repeating-linear-gradient(45deg, highlight, transparent 100px);

    & hgroup {
      display: grid;
      gap: 1ch;
      inline-size: clamp(30ch, 50%, 60ch);
      padding: 2ch;
      background-color: var(--background-a50);
      border-radius: 1ch;
    }

    & :where(#slicer)::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      content: "";
      background-color: hsl(var(--hue) 100% 75% / .75);
    }

    & [data-word^=start] {
      /* display: contents; */
      letter-spacing: normal;
      white-space: nowrap;

      & > [data-char] {
        position: relative;
        overflow: hidden;

        /* color: transparent; */
        text-decoration: none;

        animation: weight 2s;
        animation-play-state: running;
        animation-delay: calc(var(--char-index) * 150ms);
        animation-iteration-count: infinite;
        font-variation-settings:
          "opsz" 48,
          "wght" var(--wght, 200),
          "ital" var(--ital, 0);

        /* :where(:hover) > & { animation-play-state: paused } */
      }

      /* bloom pass */
      & > [data-char]::before {
        position: absolute;
        inset: 0;
        z-index: -1;
        display: inline-block;
        overflow: visible;
        color: transparent;
        content: attr(data-char);
        background: hsl(var(--_hsl) / 1);

        filter: blur(5px);

        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--trn, transparent);
        box-decoration-break: clone;
      }

      & > [data-char]:nth-of-type(1) {
        --_hsl: calc(var(--hue) + 10) 100% 75%;
      }

      & > [data-char]:nth-of-type(2) {
        --_hsl: calc(var(--hue) + 20) 100% 75%;
      }

      & > [data-char]:nth-of-type(3) {
        --_hsl: calc(var(--hue) + 30) 100% 75%;
      }

      & > [data-char]:nth-of-type(4) {
        --_hsl: calc(var(--hue) + 40) 100% 75%;
      }

      & > [data-char]:nth-of-type(5) {
        --_hsl: calc(var(--hue) + 50) 100% 75%;
      }

      & > [data-char]:nth-of-type(6) {
        --_hsl: calc(var(--hue) + 60) 100% 75%;
      }

      & > [data-char]:nth-of-type(7) {
        --_hsl: calc(var(--hue) + 70) 100% 75%;
      }
    }
  }

  nav sup { line-height: 1cap }

  article > hr { /* overrides */
    inline-size: 100%;
    background: none;
    border-style: inset;

    &:where(.--w3c-hr) {
      height: auto;
      margin: 1em auto;
      font-size: 1.5em;
      color: black;
      color: var(--hr, highlight);
      text-align: center;
      background: transparent;
      border: transparent solid 0;

      &::before {
        content: "\2727\2003\2003\2727\2003\2003\2727";
      }
    }
  }

  article > ol > li {
    max-inline-size: unset;
    hyphens: auto;
  }

  > footer { /* copyright widget */
    --surface: var(--background);
    --gradient: var(--lin-gradient-voygb);

    padding: 1ch 2ex;
    text-shadow: 0 1px 1px hsl(0 0% 0% / 30%);
    background:
      linear-gradient(
        var(--surface),
        var(--surface)) padding-box,
        var(--gradient) border-box;
    border: .125cqi transparent solid;
    border-radius: 1ch;
    box-shadow: 0 1rem 1rem -1rem hsl(0 0% 0% / 90%);

    & :where([itemprop=name]) {
      max-inline-size: 12ch;
      padding-inline: .5ch;
      border-inline: 1px;
      border-image:
        linear-gradient(
          transparent,
          var(--accent),
          transparent
        )
        1 / 1px;
    }
  }

  :where([aria-labelledby=contact]) { /* form styling */
    --_bg: light-dark(hsl(var(--blue-light)), hsl(var(--blue)));

    container-type: inline-size;
    padding: var(--gutter);
    margin-inline: var(--gutter);
    background-color: var(--_bg, var(--apple-blue));
    border-radius: var(--border-radius-2);

    .keyline {
      min-inline-size: calc(100cqi + var(--gutter) * 2);
      margin-inline: calc(var(--gutter) * -1);
      gap: .5ch;
    }

    :where([type="text"],[type="email"],[type="url"]) { /* input, textarea */
      caret-color: var(--accent);
    }
  }

  /* Targeting a range of container widths */
  @container (20rem <= width < 32.5rem) {
    .keyline {
      --opsz: 20;

      &::after,
      &::before {
        --border-imgsrc: repeating-linear-gradient(
          -45deg,
          var(--neon-lime) 0 2px,
          var(--neon-purple) 0 4px,
          var(--neon-pink) 0 6px,
          color-mix(in oklab, var(--accent), var(--_bg) 50%) 0 12px
        );
      }
    }
  }

  :where([class*=tag]) {
    /* overrides */
    inset-inline-end: unset;
    inset-block-end: unset;
    font-size: .75rem;
    letter-spacing: -0.008em; /* 45×18 ~ 5:2 ~ 100×40 */
    transform: translate(
      calc(2/5 * 40 * -1%),
      calc(2/5 * 100 * -1%)
    );
    font-feature-settings: "c2sc" 1;
  }

  /* See: https://www.smashingmagazine.com/2024/01/css-border-image-property/
          https://codepen.io/hexagoncircle/pen/YjXowe
          https://css-generators.com/ribbon-shapes/
          https://css-generators.com/
  */
  :where([class*=keyline]) {
    letter-spacing: calc(var(--letter-spacing-2) * -1);

    &::before,
    &::after {
      --to-left: linear-gradient(-90deg, var(--c1), 33.333%, var(--c2));
      --to-right: linear-gradient(90deg, var(--c1), 33.333%, var(--c2));
      --c1: color-mix(in oklab, var(--accent), var(--_bg) 80%);
      --c2: var(--accent);
      border-style: solid;
      border-width: var(--line-md) 0 0;
      border-image-source: var(--border-imgsrc, var(--to-left));
      border-image-slice: 1;
      border-image-width: 1;
    }

    :where([data-theme-style=light] &) {
      &::after { --border-imgsrc: var(--to-right); }
    }

    :where([data-theme-style=dark] &) {
      &::before { --border-imgsrc: var(--to-right); }
    }
  }
}

@layer utilities.grid {
  :where(html) {
    --grid-cell: [stack] 1fr / [stack] 1fr;
    --grid-cell-name: stack;
    --grid-ram: repeat(auto-fit, minmax(min(0, 100%), 1fr));
    --grid-ram: repeat(auto-fit, minmax(0, 1fr));
    --grid-holy-grail: auto 1fr auto / auto 1fr auto;
  }

  .cols-triptych {
    grid-template-rows: 1fr auto;
    grid-template-columns: var(--grid-ram);
    align-items: center;
    gap: 1cqi;

    padding: var(--spacer-4x) var(--gutter);
    margin-block: calc(var(--spacer-2x) * -1);

    & img {
      /* object-fit: contain; */
      object-fit: cover !important;
      min-block-size: 100%;
    }

    & > *:where(:not(figcaption, blockquote, q)) {
      grid-column: var(--line);
      grid-row: 1;
      clip-path: inset(0);
    }

    & > :where(figcaption, (blockquote, q):where([cite])) {
      grid-column: 1 / span 5;
      grid-row: 2;
      grid-template-rows: inherit;
      row-gap: 1cqi;
      color: hsl(var(--paper-1) / .88);

      > :first-child {
        --_size: 1.384em;
        grid-column: 2 / 5;

        display: grid;
        grid-template-columns: minmax(auto, 0) 1fr minmax(auto, 0);
        column-gap: var(--_size);
        align-items: baseline;
        margin-inline: calc(var(--_size) * -1);

        hyphens: auto;
        line-height: var(--lh-eighty);
        text-wrap: pretty;
        quotes: "\00AB" "\00BB" "\201E" "\201C";

        &::before, &::after {
          font-size: var(--_size);
          opacity: .5;
        }

        &::before { justify-self: start; }
        &::after  { justify-self: end; }
      }

      > :last-child {
        grid-column: 3 / 5;

        font-style: normal;
        text-align: right;
        font-feature-settings: "onum" 1;
      }
    }

    & > :where(
      :nth-of-type(1),
      :nth-of-type(3)
    ) {
      &:is(div, img, svg) {
        /* aspect-ratio: 3 / 5; */
        aspect-ratio: 7 / 12 !important; /* 700×1200 */
      }
    }

    & > :where(
      :nth-of-type(2)
    ) {
      --line: 2 / 5;

      &:is(div, img, svg) {
        /* aspect-ratio: 3 / 2; */
        aspect-ratio: 7 / 5 !important; /* 1680×1200 */
      }
    }
  }

  /* TODO Masonry grid usage example */
  ul {
    :where(figure, picture:not(+picture)) {
      overflow: hidden;
      aspect-ratio: 3 / 2;

      & > img {
        /* object-fit: contain; */
        inline-size: 100%;
        block-size: 100%;
        margin: auto;
      }
    }

    :where(figure:has(figcaption)) {
      display: grid;
      grid-template-rows: 1fr auto;
      margin: 0;
      font: inherit;

      & > img {
        grid-row: 1 / -1;
        grid-column: 1;
      }

      & > figcaption {
        font-family: inherit;
        font-size: 1rem;
      }
    }
  }
}

/* CSS Noise Gradient (shadow)
   → https://codepen.io/cjimmy/pen/XWRQPep */
@layer {
  :has(>.sketch) {
    background: var(--sketch-bg, canvas);
  }

  svg > text {
    --_size: 12.5rem;
    --_dy: calc(var(--size) * .35);
    --_variations:
      "opsz" 48,
      "wght" 500,
      "ital" 1;
    --_features:
      "kern" on,
      "rvrn" off,
      "liga" on,
      "dlig" on,
      "smcp" on;
  }

  .sketch {
    --_noise: url("https://grainy-gradients.vercel.app/noise.svg");
    inline-size: 250px;
  }

  .ball {
    z-index: 1;
    inline-size: 250px;
    overflow: hidden;
    border-radius: calc(var(--big-int)*1px);
    aspect-ratio: var(--ratio-1);

    & [class*=light] {
      inline-size: 100%;
      block-size: 100%;
      background: radial-gradient(circle at 67% 30%, lightsalmon, crimson);
      mix-blend-mode: multiply;
    }

    & [class*=shadow] {
      block-size: 100%;
      background-image:
        radial-gradient(circle at 65% 35%, var(--trn), mediumblue),
        var(--_noise);
      filter: contrast(120%) brightness(900%);
    }
  }

  .ground {
    inset-block-end: -10px;
    inset-inline-start: -65%;
    inline-size: 150%;
    block-size: 140px;
    transform: rotateZ(7deg);
    mix-blend-mode: multiply;

    & [class*=shadow] {
      inline-size: 95%;
      block-size: 140px;
      background:
        radial-gradient(ellipse at 70%, navy, var(--trn)),
        var(--_noise);
      filter: contrast(150%) brightness(700%);
      border-radius: 50%;
    }
  }
}

@layer layouts.header {
  .page__header {
    background:
      linear-gradient(to bottom,
        hsl(var(--honeydew) / .15),
        33.333%,
        hsl(var(--honeydew) / 0) 75%
      );
    backdrop-filter: brightness(80%);
  }
}

@layer layouts.nav {
  .nav {
    container-name: nav;
    container-type: inline-size;

    :where([data-theme-style=light]) & {
      backdrop-filter: blur(var(--blur-os));
    }

    :where([data-theme-style=dark]) & {
      /* Refs
         https://codepen.io/argyleink/pen/rNxrPMq
         https://codepen.io/argyleink/pen/GRZoQLB
      */
      background: linear-gradient(127deg,
        hsl(var(--tn-lemon-tonic) / .75),
        calc(100% - (100% / 3 * 2)),
        hsl(var(--tn-pink-glo) / .5),
        calc(100% - (100% / 3 * 1) + 25%),
        hsl(var(--tn-atomic-blue) / .25)
      );
      backdrop-filter: var(--smooth-glass);
    }
  }

  .nav__items {
    display: flex;
    flex-direction: column;
  }

  @container (orientation: landscape) { /* TODO */
    /* .nav__items {
      flex-direction: row;
      gap: 1.5rem;
    } */
  }

  .nav__link {
    min-block-size: var(--min-touch-target-size);
    font-size: clamp(1.5rem, 2.5vw + 1rem, 3rem);
    line-height: normal;
  }
}

@layer theme.support.page {
  body:has(> aside > nav) {
    display: grid;
    grid: [stack] 1fr / min-content [stack] 1fr;
    & > * { grid-area: stack; }
    & main { contain: layout; }
  }

  h1 {
    max-inline-size: min(40ch, 80vw);
    line-height: 1cap;
  }

  article {
    padding-inline: var(--gutter);
  }
}

@layer theme {
  body { --var-serif: Roslindale; }

  .fvar {
    font-variation-settings:
      "opsz" var(--opsz, 11),
      "wght" var(--wght, 400),
      "ital" var(--ital, 0);
  }
}

@layer theme.color.ui-adjust {
  :where(html[data-theme-style=light]) {
    --bg-hsl: var(--warm-white-3);
  }

  :where(html[data-theme-style=dark]) {
    /* --accent-hsl: var(--coral); */
    --bg-hsl: var(--green-dark);
    --fg-hsl: var(--honeydew);
  }
}

@layer theme.color.palettes {
  /* https://www.sherwin-williams.com/en-us/color/color-collections/colormix-forecast/2024 */

  :where(html) {
    --green-dark: var(--sw-night-watch);
    --blue-light: var(--sw-upward, powderblue); /* SW COTY 2024 */
    --blue: var(--sw-georgian-bay);
    --honeydew: var(--sw-honeydew, honeydew); /* SW COTM June */
    --maroon: var(--sw-carnelian, maroon);
  }
}

@layer theme.color.swatches {
  :where(html) {
    /* https://en.wikipedia.org/wiki/Snow_White_design_language
       https://www.landsnail.com/apple/local/design/intro.html
       https://apple.fandom.com/wiki/List_of_Apple_product_colors
       https://www.schemecolor.com/apple-rainbow-logo.php
       https://84-24.org/
    */
    --apple-beige: #bfbb98; /* PANTONE 453 C */
    --apple-beige: #c4c0aa; /* PANTONE 14–0105 TPG */
    --apple-beige: #cacac8; /* PANTONE Cool Gray 2 U */
    --apple-blue: #0095B6;

    /* https://en.wikipedia.org/wiki/Prussian_blue */
    --blueprint-pb: hsl(205 100% 16%); /* #003153 */

    /* TODO: Add RISO inks palette */
    --riso-black: hsl(30deg 3% 13%); /* #21201F */
    --clear-medium: var(--off-white-5);
  }

  /* @layer riso {} */
}

@layer reset {
  /* picture:has(> img) { display: contents } */
}
