/* Style guides:
 * https://www.jetbrains.com/lp/mono/
 * https://input.djr.com/preview/
 * https://prism-theme-vars.netlify.app/
 */
[class*=code] {
  font-family: JetBrains Mono, var(--ui-mono);
}

/* https://drafts.csswg.org/css-ui/#example-781effce */
/* https://drafts.csswg.org/css-ui/#example-92372fb4 */
.old-screen {
  color: green;
  background: repeating-linear-gradient(
    #030 0, #030 1px, #020 1px, #020 3px
  );
}

/* https://drafts.csswg.org/selectors/#attribute-substrings */
[class*='line comment'] {
  font-family: JetBrains Mono, var(--ui-mono);
  font-size: 0.75rem;
  color: var(--foreground-a50);
  font-synthesis-style: none;
  text-align: center;
  gap: 1ch;

  &::before,
  &::after {
    font-style: normal;
    border-width: 2px;
  }

  &:is([data-lang='html']) {
    --comment-open: '<!--';
    --comment-close: '-->';

    &::before {
      text-align: right;

      /* https://www.w3.org/International/questions/qa-escapes.en */
      content: '\3C\21\2D\2D'; /* is an CSS escape sequence */
    }

    &::after {
      text-align: left;
      content: '\2D\2D\3E';
    }
  }

  &:is([data-lang='css']) {
    &::before {
      text-align: right;
      content: '\2F\2A';
    }

    &::after {
      text-align: left;
      content: '\2D\2D\3E';
    }
  }
}

code:has(> span[class~=line]) {
  display: grid;
  padding: 0;
  overflow-inline: auto;
  counter-reset: line;
  background-color: transparent;
  row-gap: calc(1ex/4);
}

code > [class~="line"] {
  position: relative;
  display: inline-block;
  min-width: 0;
  padding-left: 2rem;
  text-align: left;
  white-space: nowrap;
  white-space-collapse: collapse;

  &:not(:empty:last-child)::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.125rem;
    margin-right: 1rem;
    font-family: var(--font-mono, inherit);
    color: color-mix(in oklab, var(--foreground), var(--background) 70%);
    text-align: right;
    content: counter(line);
    counter-increment: line;
    font-variant-numeric: tabular-nums;
  }

  &:not(:empty:last-child)::before {
    /* https://en.wikipedia.org/wiki/Byte_order_mark */
    --bom: "\65279";
    --word-joiner: "\2060";

    display: inline-block;
    content: var(--word-joiner);
  }
}

:is(div, section):has(> web-termminal) {
  display: grid;
  place-content: start;
  max-inline-size: 80ch;
  margin-inline: var(--gutter);
}

:where(pre, code) {
  font-family: ui-monospace,SF Mono,SFMono-Regular,Menlo,Monaco,monospace;
  hyphens: none;
  white-space: pre-wrap;
  -moz-control-character-visibility: visible;

  /* TODO https://drafts.csswg.org/css-highlight-api/#custom-highlight */
  & mark {
    color: var(--foreground);
    text-shadow: 0 0 .1em var(--accent-shade);
    background-color: color-mix(
      in oklab, var(--accent) 25%, var(--background) 50%
    );
    border-radius: calc(1ex/4);
  }
}

:where([class]:is(
  .terminal,
  .console,
  .session )) {
    & .sep {
      color: color-mix(in oklab, var(--foreground), var(--background) 70%);
    }

    & .prompt {
      color: var(--accent);
      text-shadow: 0 0 min(8px, .25em) var(--accent-shade);

      &::after { text-shadow: none }
    }

    & :is(.cursor, .caret) {
      pointer-events: none;
      cursor: none;
      caret: none;
    }

    & :where([contenteditable=true]) {
      /* text-indent: 5em hanging each-line; */
      word-break: break-word;
      outline: none;
      caret-color: var(--accent); /* transparent */

      &:focus-within ~ .caret { display: none }
    }
}

:where([class]:is(
  .terminal,
  .console,
  .session
)) * {
  /**
   * https://drafts.csswg.org/css-fonts-4/#ui-monospace-def
   * https://caniuse.com/font-family-system-ui
   * https://caniuse.com/extended-system-fonts
   * https://github.com/go-gitea/gitea/issues/22125 */

  font-family: JetBrains Mono, monospace; /* 13px/1.2 */
  font-size: clamp(0.75rem, 2vw + 1rem, 0.813rem);
  font-style: normal;
  line-height: 150%;
  letter-spacing: .02em;
  font-variation-settings: "wght" 350;

  /* font-feature-settings:
    "liga" on,
    "clig" on,
    "zero" on,
    "tnum" on; */
}

/* TODO Load variable monospace face for code */
/* See:
   → https://fonts.google.com/specimen/Flow+Block
   → https://fonts.google.com/specimen/Fira+Code
   → https://fonts.google.com/specimen/JetBrains+Mono
   → https://fonts.google.com/specimen/Handjet
   → https://fonts.google.com/specimen/Press+Start+2P
   → https://input.djr.com/
   → https://nguyengobber.com/shop/monopol */
