@layer skeleton {
  :where(:root) {
    &:has(input[name="debug-mode"]:checked) {
      --bg-hsl: transparent;
      --fg-hsl: initial;
      --background: canvas;
      --foreground: canvastext;
      --background: var(--blueprint-pb);
      color-scheme: dark only;

      &::before {
        position: fixed;
        inset-block-end: 0;
        z-index: var(--big-int);
        inline-size: fit-content;
        font-family: var(--ui-mono);
        font-size: smaller;
        content: "🐭 "attr(style);
      }
    }
  }

  /* https://visbug.web.app/ */
  .debug *,
  .debug *::before,
  .debug *::after {
    outline-width: var(--line, thin);
    outline-style: var(--line-style, solid);
    outline-color: var(--line-color, color(display-p3 0 0 1));
    outline-offset: 0;
  }

  .debug *::before,
  .debug *::after { --line-style: dashed; }

  .debug p:where(:not(p+p))::first-letter {
    /* border: thin crimson dashed; */
  }

  /* .mesh, */
  .graph-paper {
    /* https://en.wikipedia.org/wiki/Graph_paper
       https://css-pattern.com/graph-paper/ */

    --div-mm: calc(1cm / 10); /* millimeter */
    --div-in5: calc(1in / 5); /* engineering */
    --div-in4: calc(1in / 4); /* quad */

    color: color-mix(in lch, canvastext, transparent 15%);

    &::before {
      --_size: var(--cell, 8px);
      --_line: color-mix(in lch, canvastext, transparent 85%);
      --_bg:
        linear-gradient(
          90deg,
          var(--_line) 1px,
          transparent 1px var(--_size)
        ) 50% 50% / var(--_size) var(--_size),
        linear-gradient(
          var(--_line) 1px,
          transparent 1px var(--_size)
        ) 50% 50% / var(--_size) var(--_size);

      position: absolute;
      inset-block-start: 0;
      z-index: -1;
      display: none;
      inline-size: 100vw;
      block-size: 100svh;
      pointer-events: none;
      content: "";
      background: var(--_bg);
      mask:
        linear-gradient(
          -25deg,
          transparent calc(100% / 3), white);
      transform-style: flat;
    }

    body:where([data-id=test]) &::before {
      display: initial;
    }

    /* TODO
      https://codepen.io/thebabydino/pen/yLWvKyK
      https://www.smashingmagazine.com/2024/05/combining-css-has-html-select-conditional-styling/
    */
    :where(
      [class*="debug"],
      :root:has(input[name="debug-mode"]:checked)
    ) & {
      --cell: var(--div-in5);

      &::before { display: block }

      /* background: var(--blueprint-pb); */

      & [class~=placeholder]::after {
        filter: drop-shadow(0 0 5px #0005);
        -webkit-text-stroke: 1px lime;
      }

      & :where(:not(header, footer, main, article, section, aside)) > * {
        --line-color: color-mix(in lch, var(--neon-cyan), transparent 25%);
        filter: grayscale();
      }

      & :where(figure, picture, img, svg) > * {
        outline-color: var(--neon-purple);
      }

      & :where([class~="placeholder"]::after) {
        filter: drop-shadow(2px 4px 8px black);
      }

      & form :where(a, button, label) {
        outline-color: var(--neon-pink);
        outline-offset: 1px;
      }

      & :where(header, footer, main, article, section, aside) > *,
      & :where(blockquote, legend) {
        outline-width: 3px;
        outline-style: double;
        outline-offset: .3px;
      }

      &.--show-landmarks { /* TODO */
        & :where([role]) {
          position: relative;
        }

        & :where([role])::after {
          position: absolute;
          display: inline-block;
          padding-inline: .5lh;
          font-family: var(--ui-mono);
          font-size: .75rem;
          font-weight: 600;
          line-height: 1.5;
          text-shadow: 0 1px 1px hsl(0 0% 0% / 30%);
          pointer-events: none;
          content: attr(role);
          background-color: hsl(var(--cool-gray-3) / 70%);
          border-radius: var(--radius-x);
        }

        & [role]:where(ol, ul, figure)::after {
          inset-block-start: 0;
          inset-inline-start: 0;
          transform: translate(calc(100% / 3),100%);
        }

        & [role]:where(p)::after {
          inset-block-end: calc(1ex / .42 * -1);
          inset-inline-start: 0;
          transform: translate(0,100%);
        }

        & [role]:where(article, section)::after {
          inset-block-start: calc(1ex / .42 * -1);
          inset-inline-start: 0;
          transform: translate(0,-100%);
        }
      }
    }
  }

  /* https://css-pattern.com/distorted-mesh/ */
  .distorted-mesh { /* 404 */
    --s: min(5rem, 50%, 33cqi); /* control the size */
    --c1: hsl(var(--dayglo-pink));
    --c2: var(--neon-purple);
    --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%;
    background:
     radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
     radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
     radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
     radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
     var(--c2);
    background-size:
      calc(var(--s)/4.667) var(--s),
      var(--s) calc(var(--s)/4.667);
  }

  [class~=placeholder] {
    /* --i: 1; */
    --_ratio: 9/8; /* 4/3; 3/2; 16/9; etc. */
    --_hue: 90deg;
    --_sat: 100%;
    --_lum: 50%;
    --_hsl:
      calc(var(--_hue) * (var(--i) * var(--_ratio)))
      calc(var(--_sat) * (var(--i) * .618033))
      var(--_lum);

    position: relative;
    display: inline-flex;
    max-block-size: 100svb;
    overflow: hidden;
    color: hsl(var(--_hsl)); /* SVG */

    /* JS-free version of https://github.com/cloudfour/simple-svg-placeholder */
    &::after {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      z-index: 1;
      inline-size: 100%;

      /* transform: translate(-50%,-50%) rotatez(-.125turn); */
      font: var(--font-weight-7) clamp(1.5rem, 2vw + 1rem, 2.25rem) var(--ui-mono);
      color: #fff5;
      color: color-mix(
        in var(--colorspace, oklab),
        hsl(var(--_hsl)),
        hsl(var(--fg-hsl))
        var(--c2-amount, 50%)
      );
      text-align: center;
      content: attr(data-dummy);
      background: linear-gradient(
        to right
        in var(--colorspace, oklab),
        hsl(var(--_hsl)),
        hsl(var(--bg-hsl))
      );
      transform: translate(-50%,-50%);
    }

    & > svg {
      inline-size: 100%;
      margin-block: auto;
      & + & { margin-inline-start: 2dvi;}
    }

    &:nth-of-type(1) > svg {
      aspect-ratio: var(--ratio-3);
    }

    &:nth-of-type(2) > svg {
      aspect-ratio: var(--ratio-square);
    }

    &:nth-of-type(3) > svg {
      aspect-ratio: 9 / 16;
      max-inline-size: calc(100% / 3);
    }
  }
}
