/* TODO: Top-sticky banner; show/hide on scroll */

.page__header {
  --_zi: 1010;
  --_shift-inline: 0.25cqi;
  --_cross-size: calc(100cqi - var(--_shift-inline, 0));
  --_block-size: min-content;

  z-index: var(--_zi);
  container: banner / inline-size;
  inline-size: var(--_cross-size, 100%);
  block-size: var(--_block-size);
  padding-block: 1ch;

  inset-inline: 0;
  border-style: inset;

  & { pointer-events: none; & > * {
      pointer-events: all;
    }
  }

  & > :first-child {
    margin-inline-start: var(--spacer-2x);
  }
  & > :last-child {
    margin-inline-end: var(--spacer-2x);
  }

  & > a:has(picture, img, svg) { /* display: flex; */
    min-inline-size: var(--min-touch-target-size);
    aspect-ratio: var(--ratio-1);

    background-color: var(--background);
    border-radius: var(--radius-x);
    box-shadow: 0 8px 24px var(--shadow);

    & > :where(picture, img, svg) { /* margin: auto; */ }
  }

  @media (min-width: 48em) {
    /* & { --_cross-size: unset } */
  }
}
