@layer skeleton {
  :where(:root) {
    &:has(input[name="debug-mode"]:checked) {
      --bg-hsl: transparent;
      --fg-hsl: ;
      --background: canvas;
      --foreground: canvastext;
      color-scheme: dark only;

      &::before {
        position: fixed;
        inset-block-end: 0;
        z-index: var(--big-int);
        inline-size: fit-content;
        font-family: var(--ui-mono);
        font-size: smaller;
        content: "🐭 "attr(style);
      }
    }
  }

  .debug *,
  .debug *::before,
  .debug *::after {
    outline: color(display-p3 0 0 1) solid thin;
    outline-offset: 0;
  }

  .debug *::before,
  .debug *::after {
    outline-style: dashed;
  }

  .debug p:where(:not(p+p))::first-letter {
    /* border: thin crimson dashed; */
  }

  .graph-paper {
    /* https://en.wikipedia.org/wiki/Graph_paper
       https://css-pattern.com/graph-paper/ */

    --sqr-10: calc(1cm / 10); /* millimeter */
    --sqr-05: calc(1in / 5); /* engineering */
    --sqr-04: calc(1in / 4); /* quad */

    /* https://en.wikipedia.org/wiki/Prussian_blue */
    --blueprint-pb: hsl(205 100% 16%); /* #003153 */

    color: color-mix(in lch, canvasText, transparent 15%);

    :where([class*=debug]) & {
      --sqr: var(--sqr-05);
      background: var(--blueprint-pb);

      & :where(:not(header, footer, main, article, section, aside)) > * {
        filter: grayscale();
      }

      & :where(figure, picture, img, svg) > * {
        outline-color: var(--neon-purple);
      }

      & form :where(, link, button, label) {
        outline-style: dotted;
        outline-color: var(--neon-pink);
        outline-offset: 1px;
      }

      & :where(header, footer, main, article, section, aside) > *,
      & :where(blockquote, legend) {
        outline-width: 3px;
        outline-style: double;
        outline-offset: .35px;
      }

      &.--show-landmarks { /* TODO */
        & :where([role])::after {
          position: absolute;
          display: inline-block;
          padding-inline: .5lh;
          font-family: var(--ui-mono);
          font-size: .75rem;
          line-height: 1.5;
          text-shadow: 0 1px 1px hsl(0 0% 0% / 30%);
          pointer-events: none;
          content: attr(role);
          background-color: hsl(var(--cool-gray-3) / 70%);
          border-radius: 1e5px;
        }

        & [role]:where(ol, ul, figure)::after {
          inset-block-start: 50%;
          inset-inline-start: 50%;
          transform: translate(-50%,-50%);
        }

        & [role]:where(p)::after {
          inset-block-end: -100%;
          inset-inline-start: 0;

          /* color: red; */
        }
      }
    }

    &::before {
      --_size: var(--sqr, 8px);
      --_line: color-mix(in lch, canvasText, transparent 85%);

      position: absolute;
      inset-block-start: 0;
      z-index: -1;
      inline-size: 100vw;
      block-size: 100svh;
      pointer-events: none;
      content: "";
      background:
        linear-gradient(
          90deg,
          var(--_line) 1px,
          transparent 1px var(--_size)
        ) 50% 50% / var(--_size) var(--_size),
        linear-gradient(
          var(--_line) 1px,
          transparent 1px var(--_size)
        ) 50% 50% / var(--_size) var(--_size);
      mask: linear-gradient(-25deg, transparent 30%, white);
      transform-style: flat;
    }
  }

  [class~=placeholder] {
    /* --i: 1; */
    --_ratio: 9/8; /* 4/3; 3/2; 16/9; etc. */
    --_hue: 90deg;
    --_sat: 100%;
    --_lum: 50%;
    --_hsl:
      calc(var(--_hue) * (var(--i) * var(--_ratio)))
      calc(var(--_sat) * (var(--i) * .618033))
      var(--_lum);
    position: relative;

    display: inline-flex;
    max-block-size: 100svb;
    overflow: hidden;

    color: hsl(var(--_hsl)); /* SVG */

    /* JS-free version of https://github.com/cloudfour/simple-svg-placeholder */
    &::after {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      z-index: 1;
      inline-size: 100%;

      /* transform: translate(-50%,-50%) rotatez(-.125turn); */
      font: var(--font-weight-7) clamp(1.5rem, 2vw + 1rem, 2.25rem) var(--ui-mono);
      color: #fff5;
      color: color-mix(
        in var(--colorspace, oklab),
        hsl(var(--_hsl)),
        hsl(var(--fg-hsl))
        var(--c2-amount, 50%)
      );
      text-align: center;
      content: attr(data-dummy);
      background: linear-gradient(
        to right
        in var(--colorspace, oklab),
        hsl(var(--_hsl)),
        hsl(var(--bg-hsl))
      );
      transform: translate(-50%,-50%);

      /* block-size: 100%;
      display: grid;
      place-content: center; */
    }

    & > svg {
      inline-size: 100%;
      margin-block: auto;
      & + & { margin-inline-start: 2dvi;}
    }

    &:nth-of-type(1) > svg {
      aspect-ratio: var(--ratio-3);
    }

    &:nth-of-type(2) > svg {
      aspect-ratio: var(--ratio-square);
    }

    &:nth-of-type(3) > svg {
      aspect-ratio: 9 / 16;
      max-inline-size: calc(100% / 3);
    }
  }
}
