/* TODO @layer components { @layer intent, states; } */

/* https://codepen.io/collection/AaLmWp */

:where(button:is([data-icon])) {
  /* https://moderncss.dev/icon-button-css-styling-guide/ */
}

/* See
   → https://html.spec.whatwg.org/multipage/rendering.html#button-layout
   → https://github.com/argyleink/open-props/blob/main/src/extra/buttons.css
   → https://goo.gle/39uY8Na
*/
:where(.btn,
        button,
        input:is([type='button'], [type='submit'], [type='reset'])),
:where(input[type='file'])::-webkit-file-upload-button,
:where(input[type='file'])::file-selector-button {
  --_accent: initial;
  --_text: initial;
  --_size: initial;

  /*
  --_bg: var(--btn-bg, buttonface);
  --_text: var(--btn-text, buttontext);
  --_border: var(--btn-border, buttonborder);
  */
  --_icon-size: 1em;
  --_icon-color: var(--_accent, var(--link));

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding-block: .75ch;
  padding-inline: 2ex;

  font-family: inherit;
  font-size: var(--_size);
  font-weight: var(--font-weight-7);

  color: var(--_text);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: var(--_bg);
  border: var(--line-thin, thin) solid var(--_border, color-mix(
    in oklab, var(--accent), var(--trn) 60%)
  );
  border-radius: var(--border-radius-2);
  box-shadow:
    var(--shadow-2),
    0 1px var(--_bg),
    0 0 0 var(--_highlight-size) var(--_highlight);

  /* text-shadow: ; */
  transition: border-color 0.5s var(--ease-3);

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  gap: var(--spacer-2x);
}

:where(button) {
  will-change: transform;
  transform: translateY(var(--ty, 0)) scale(var(--scale, 1));

  /* transition: transform 0.25s; */

  &:hover  { --scale: 1.1; }

  &:active { --scale: 0.9;
             --ty: .125ex; }

  &:is(:hover, :focus) {
    --_border:
      color-mix(in oklab, var(--accent), hsl(var(--white)) 50%)
  }

  &.--muted { filter: grayscale(1) }
  &.--ghost { /* … */ }
}

@supports (color: hsl(from white h s l)) {
  /*
    https://caniuse.com/css-relative-colors
    https://www.w3.org/TR/css-color-5/#relative-HSL
  */
  :where(button) {
    --_bg-light: hsl(210deg 60% 70%);
    --_bg-dark: hsl(210deg 60% 30%);
    background-color: var(--_upd, var(--_bg));

    &:hover  { --_upd: hsl(from var(--_bg) h s calc(l + 10)) }
    &:active { --_upd: hsl(from var(--_bg) h s calc(l - 10)) }

    :where([data-theme-style=light]) & {
      --_bg: var(--_bg-light);
    }

    :where([data-theme-style=dark]) & {
      --_bg: var(--_bg-dark);
    }
  }
}
@supports not (color: hsl(from white h s l)) {
  :where(button) {
    background-color: hsl(210 60% var(--_upd, var(--lightness)));

    &:hover  { --_upd: calc(var(--lightness) + 10%) }
    &:active { --_upd: calc(var(--lightness) - 10%) }

    :where([data-theme-style=light] &) {
      --lightness: 70%;
    }

    :where([data-theme-style=dark] &) {
      --lightness: 30%;
    }
  }
}

/* @supports (color: light-dark(black, snow)) {…} */

@media (prefers-reduced-motion: no-preference) {
  :where(
      .btn,
      button,
      input:is([type='button'], [type='submit'], [type='reset'])
    ),
  :where(input[type='file'])::-webkit-file-upload-button,
  :where(input[type='file'])::file-selector-button {
    transition:
      background-color 0.25s, transform 0.25s,
      border-color 0.5s var(--ease-3),
      box-shadow 145ms var(--ease-4),
      outline-offset 145ms var(--ease-4);
  }
}

:where(.btn, button, input:is([type='button'], [type='submit'], [type='reset']))
  > :where(svg) {
  inline-size: var(--_icon-size);
  block-size: var(--_icon-size);

  /* filter: drop-shadow(var(--*)); */
  flex-shrink: 0;
}

:where(.btn, button, input:is([type='button'], [type='submit'], [type='reset']))
  > :where(svg > *) {
  stroke: var(--_icon-color);
  stroke-width: var(--border-width);
}
