/* TODO @layer components { @layer intent, states; } */

/*
  https://developer.mozilla.org/en-US/docs/Glossary/Hyperlink
  https://html.spec.whatwg.org/dev/links.html */

/* UA defaults
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert } */

/* norma 🙃 */

:where(a[href]) {
  color: var(--link, textlink);
  &:visited { color: var(--link-visited, textvisited); }
}

:where(a) {
  &:where([href]) {
    text-decoration-color: currentcolor;

    &:where(:visited) {
      text-decoration-color: currentcolor;
    }
  }

  &:where(:not(:hover)) {
    text-decoration: inherit;
  }
}

/* lyser 🫠 */

/* :focus-visible { outline-color: var(--link); } */
/* :where(:link, :any-link) { transition: all 150ms 0s ease; } */

:where(a, [*|class=link]) {
  display: inline-block;

  text-shadow: .1em .1em .125em var(--shadow);
  transition: all 150ms 0s ease;
}

a:where(:hover, :focus) {
  --text-decor-color: #00fe9b00;
  color: var(--accent);
}

a:where([aria-current=page]) {
  position: relative;

  text-decoration-skip-ink: auto;

  /* text-decoration: underline overline wavy #00fe9b; */
  text-decoration-line: underline overline;
  text-decoration-style: wavy;
  text-decoration-color: var(--text-decor-color, #00fe9b);

  /* https://drafts.csswg.org/css-text-decor-4/#line-decoration */
  /* text-decoration-thickness: from-font; */
  text-decoration-thickness: 2px;

  /* https://drafts.csswg.org/css-fonts-4/#first-available-font */
  /* text-underline-position: from-font; */
  text-underline-offset: .5ex;

  @media (hover) and (pointer: fine) {
    &::before {
      position: absolute;
      font-family: inherit;
      font-size: .75rem;
      color: canvastext;
      text-align: left;
      letter-spacing: .150em;
      content: "Reload"; /* "↻" or "\21BB" */
      opacity: var(--_a, 0);
      transition: inherit;
      inset-inline: 0;
      translate: 0 -100%;
      font-variation-settings:
        "opsz" var(--_opsz, 24),
        "wght" var(--_wght, 200),
        "ital" var(--_ital, 1);
      font-feature-settings: "smcp" 1, "c2sc" 1;
    }

    &:hover::before {
      --_a: 1;
      --_opsz: 12;
      --_wght: 500;
      --_ital: 0;
    }
  }
}

[data-icon] {
  position: relative;

  &::before {
    position: absolute;
    font-family: inherit;

    opacity: var(--_a, 0);
    transition: opacity 150ms ease-out;
    transform: translate(-100%, 0) scale(.75);
  }

  &:hover::before {
    --_a: 1;
  }

  :where(.no-js) &::before {
    content: attr(data-icon);
  }
}


/* a:where[href^="http"]::after {
  content: " (" var(--external-link) ")"
} */
